.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin: 3rem auto 0 auto;
    padding: 1rem;

    width: 95%;
    height: 85vh;
    overflow: hidden;
    clip-path: polygon(0px 0px, 100% 0px, 100% 85vh, 0px 100%);
}

.heroTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: var(--light-text);
    font-weight: 700;
    margin-bottom: 1rem;
}

.heroSubtitle {
    font-size: 1.3rem;
    max-width: 700px;
    margin-bottom: 1rem;
    color: var(--soft-subtitle);
}

.overlay {
    position: absolute;
    inset: 0;

    background: var(--overlay-gradient);
    z-index: 2;
    clip-path: polygon(0px 0px, 100% 0px, 100% 90vh, 0px 100%);
}

.heroContent {
    position: relative;
    margin: 2rem auto;
    z-index: 3;
    text-align: center;
}

.heroImage {
    background-image: url('../../assets/hero.jpg');
    inset: 0;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    display: flex;
    align-items: center;
    padding: 2rem;

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    clip-path: polygon(0px 0px, 100% 0px, 100% 90vh, 0px 100%);
}