.reviewsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
    background: var(--background-1);
    padding-inline: 2rem;
    padding-block: 2rem;
} 