.destinationsContainer {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destinationsCarousel {
    position: relative;
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;
    overflow: hidden;
}

